.loader-hidden {
    visibility: hidden;
}

.loader-overlay {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 500000;
}

.diasbled {
    position: absolute;
    width: 100%;
    background-color: rgba(0,0,0,.08);
    height: 99vh;
    z-index: 9999;
}